<h1>Dashboard</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<ul style="list-style-type:disc">
 <li>Title | Content</li>
 <li>| I am eating yogurt | I like yogurt |</li>
 <li>| I am eating mango  | I like mango  |</li>
</ul>
